@use '../../../../styles/variables' as *;

//button {
//    width: 80px;
//    height: 34px;
//    margin-left: 20px;
//    color: map-get($colors, 'white');
//    background-color: map-get($colors, 'light-blue');
//    border: none;
//    border-radius: 5%;
//    cursor: pointer;
//}

//.button {
//    margin-left: 20px;
//    height: 35px;
//    padding: 10px;
//    width: 90px;
//    color: map-get($colors, 'white');
//    background-color: map-get($colors, 'light-blue');
//    display: flex;
//    border: none;
//    border-radius: 2px;
//    justify-content: space-between;
//    align-items: center;
//    font-size: 16px;
//}

.course-button {
    margin-left: 20px;
    height: 35px;
    padding: 10px;
    min-width: 90px;
    width: auto;
    color: map-get($colors, 'white');
    background-color: map-get($colors, 'light-blue');
    display: flex;
    border: none;
    border-radius: 2px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.load-more {
    margin-top: 20px;
    height: 50px;
    background-color: map-get($colors, 'white');
    padding: 20px;
    border-radius: 3px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    width: 100%;
    color: map-get($colors, 'blue');
    text-decoration: underline;
    text-transform: uppercase;
}